In [ ]:
# 这是一行注释

In [1]:
A = 1; B = 2; C = 3

In [3]:
total = A + \
        B + \
        C
print(total)

6

In [4]:
a = 5
print(type(a))

<class 'int'>

In [5]:
import numpy as np

np.pi

3.141592653589793

In [6]:
np.e

2.718281828459045

In [7]:
int(a)

5

In [8]:
4 // 3

1

In [9]:
13 % 2

1

In [10]:
'hello' + '!' * 10

'hello!!!!!!!!!!'

In [12]:
None

In [13]:
float('inf') + float('-inf')

nan

In [15]:
a = [1, 2, 3, 4]
a[::-1]

[4, 3, 2, 1]

In [16]:
a.append(5)

In [17]:
print(a)

[1, 2, 3, 4, 5]

In [18]:
a.extend([7, 8, 9])

In [19]:
print(a)

[1, 2, 3, 4, 5, 7, 8, 9]

In [20]:
a.count(3)

1

In [21]:
a.reverse()

In [22]:
a

[9, 8, 7, 5, 4, 3, 2, 1]

In [23]:
max(a)

9

In [24]:
a = [1, 2, 3]
b = [4, 5, 6]

In [25]:
a + b

[1, 2, 3, 4, 5, 6]

In [26]:
a * 3

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [27]:
a_tuple = (1, 2, 3)

In [28]:
print(a_tuple)
print(type(a_tuple))

(1, 2, 3)
<class 'tuple'>

In [29]:
a = (1, 2, 3)
b = (4, 5, 6)
a + b

(1, 2, 3, 4, 5, 6)

In [30]:
c = a + b
c

(1, 2, 3, 4, 5, 6)

In [31]:
a1, a2, a3 = a

In [32]:
print(a1)
print(a2)
print(a3)

1
2
3

In [33]:
a = [1, 2, 3]

In [34]:
a1, a2, a3 = a
print(a1)
print(a2)
print(a3)

1
2
3

In [35]:
a = (1, 2, 3)
a * 3

(1, 2, 3, 1, 2, 3, 1, 2, 3)

In [36]:
s = {1, 2, 3, 4, 1, 2}

In [37]:
s

{1, 2, 3, 4}

In [38]:
s.add(5)
s

{1, 2, 3, 4, 5}

In [39]:
{1}.issubset(a)

True

In [41]:
s.remove(3)
s

{1, 2, 4, 5}

In [43]:
a = {1, 2, 3}
b = {2, 3, 4}

In [44]:
a - b

{1}

In [45]:
a | b

{1, 2, 3, 4}

In [46]:
a & b

{2, 3}

In [47]:
a < b

False

In [48]:
a = {2, 3}
a < b

True

In [50]:
a = {1, 2, 3}
b = {2, 3, 4}

In [51]:
a ^ b

{1, 4}

In [52]:
(a | b) - (a & b)

{1, 4}

In [53]:
a.difference(b)

{1}

In [54]:
a.union(b)

{1, 2, 3, 4}

In [55]:
a.intersection(b)

{2, 3}

In [56]:
a.symmetric_difference(b)

{1, 4}

In [3]:
d = {'name': 'Tome', 'age': 15, 'id' : 1001}
d

{'name': 'Tome', 'age': 15, 'id': 1001}

In [4]:
d['name']

'Tome'

In [5]:
d['age']

15

In [6]:
d['id']

1001

In [7]:
len(d)

3

In [8]:
d['city'] = 'chengdu'

In [9]:
d

{'name': 'Tome', 'age': 15, 'id': 1001, 'city': 'chengdu'}

In [10]:
del d['city']
d

{'name': 'Tome', 'age': 15, 'id': 1001}

In [11]:
'name' in d

True

In [12]:
d.get('name')

'Tome'

In [13]:
d.items()

dict_items([('name', 'Tome'), ('age', 15), ('id', 1001)])

In [14]:
list(d.items())

[('name', 'Tome'), ('age', 15), ('id', 1001)]

In [15]:
d.keys()

dict_keys(['name', 'age', 'id'])

In [17]:
d.values()

dict_values(['Tome', 15, 1001])

In [19]:
d.clear()

In [20]:
d

{}

In [21]:
x = -1

print('< 0') if x < 0 else print('> 0')

< 0

In [22]:
score = input('Your Score:')

Your Score:80

In [23]:
score

'80'

In [25]:
fruits = ['apple', 'pear', 'peach']

In [26]:
for fruit in fruits:
    print(fruit)

apple
pear
peach

In [27]:
for i in range(1, 10, 2):
    print(i)

1
3
5
7
9

In [28]:
a = [i**2 for i in range(10)]
a

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [30]:
vec = [-1,2,3,4,-5,-7]
v = [x for x in vec if x < 0]
v

[-1, -5, -7]

In [31]:
a = [1, 2, 3, 4, 'one']

In [32]:
total = 0
for i in a:
    try:
        total += i
    except:
        pass

In [33]:
total

10